.configlogin{
    background-color: rgb(174, 230, 174);
    height: 78vh;
}
.buttonconfig{
    width: 100px;
    height: 40px;
}
.textconfig{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}