.texterror {
    color: crimson;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.configcadastro{
    background-color: rgb(174, 230, 174);
    height: 78vh;
}
.buttonconfig{
    width: 100px;
    height: 40px;
}
