.rowconfig{
    background-color: snow;
    margin: 0px;
    border: 1px solid;
    font-size: 14px;
}
.colconfig{
    border-right: 1px solid;
    padding: 2px 5px;
    border-color: black;
}
.Containergridconfig{
    background-color: rgb(200, 219, 200);
    height: 80vh;
}
.buttonconfig{
    padding: 0px;
    border: 2px solid;
    margin: 0px;
    height: 28px;
}